html {
    scroll-behavior: smooth;
}
.is-180x180{
    height: 180px;
    width: 180px;
}
.skill-list > li{
    margin: 30px 0 0 0;
}
.has-bg-image {
    /*set background pic from images*/

    background-image: url('../images/background1.gif');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}.has-bg-image2 {
     /*set background pic from images*/

     background-image: url('../images/background5.gif');
     background-repeat: no-repeat;
     background-attachment: fixed;
     background-size: cover;
 }
.has-bg-image3 {
    /*set background pic from images*/

    background-image: url('../images/background6.gif');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
} .has-bg-image4 {
      /*set background pic from images*/

      background-image: url('../images/background8.gif');
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-size: cover;
  }
.bulma-image {
    width: 1px;
}
.interests {
    display: flex;
    justify-content: center;
}
.summary-text {
    margin-left: auto;
    margin-right: auto;
    max-width: 36em;
}
.skill-percentage {
	float: right;
}